$inset-color-1: rgb(118, 118, 118);
$inset-color-2: rgb(195, 195, 195);
$inset-color: -internal-light-dark-color($inset-color-1, $inset-color-2);
$btn-color-1: rgba(136, 0, 0, 1);
$btn-color-2: rgba(246, 0, 0, 1);
$contact-form-bg: rgba(0, 0, 0, .9);
$btn-color: #fff;
$btn-gradient: linear-gradient(90deg, $btn-color-1 0%, $btn-color-2 100%);
$contact-form-color-1: rgba(0, 0, 0, 1);
$contact-form-color-2: rgba(0, 0, 255, .5);
$contact-form-bg: radial-gradient(circle, $contact-form-color-1 20%, $contact-form-color-2 100%);
$form-container-bg: #f5f5f5;
$error-msg-color: rgb(116, 0, 0);
$success-msg-color: rgb(21, 184, 0);

@font-face {
  font-family: 'Calisto MT';
  src: url('./fonts/CalistoMT.ttf') format('truetype');
}

.contact-form {
  display: flex;
  font-family: 'Calisto MT';
  justify-content: center;
  left: 0;
  max-height: 700px;
  max-width: 420px;
  min-height: 500px;
  min-width: 330px;
  overflow: hidden;
  position: fixed;
  top: 14vh;
  transition: all .7s ease;
  z-index: 1;

  .request {
    left: -9999px;
    margin: auto;
    position: absolute;
    right: -9999px;
    top: 35px;
    width: fit-content;

    &.bad {
      color: $error-msg-color;
    }

    &.good {
      color: $success-msg-color;
    }
  }

  .form-container {
    background-color: $form-container-bg;
    border-radius: 10px;
    display: flex;
    height: 65vh;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    transition: all .8s ease;
    width: 100%;

    @media only screen and (max-width: 768px) {
      height: 530px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h1,
  h2 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    word-wrap: break-word;
  }

  .name {
    display: flex;

    label {
      width: 50%;
    }
  }

  input {
    border-radius: 5px;
    font-family: 'Calisto MT';
    font-size: 1rem;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
  }

  textarea {
    border-color: $inset-color;
    border-radius: 5px;
    border-style: inset;
    border-width: 2px;
    font-family: 'Calisto MT';
    font-size: 1rem;
    height: 200px;
    margin: 5px 0;
    padding: 10px;
    resize: none;
    width: 100%;

    @media only screen and (max-width: 768px) {
      height: 100px;
    }
  }

  button {
    cursor: pointer;
    outline: 0;

    &[type='submit'] {
      align-self: center;
      background: $btn-gradient;
      border-radius: 5px;
      color: $btn-color;
      font-family: 'Calisto MT';
      font-size: 1rem;
      font-weight: bold;
      padding: 15px;
      width: 150px;
    }

    &[type='button'] {
      background: transparent;
      border: 0;
      font-family: cursive;
      font-size: 1.5rem;
      font-weight: bold;
      position: absolute;
      right: 25px;
      top: 25px;

      @media only screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }
  }

  .close-form {
    background: $btn-gradient;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: $btn-color;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    left: 0;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    transition: height .25s, width 1s, padding .25s;
    width: 110px;

    p {
      margin: 0;
    }
  }

  &.active {
    background: $contact-form-bg;
    border-radius: 10px;
    height: 70vh;
    margin: 5vw;
    width: 100%;

    .close-form {
      height: 0;
      margin: 0;
      opacity: 0;
      overflow: hidden;
      padding: 0;
      width: 0;
    }

    @media only screen and (max-width: 768px) {
      height: 570px;
      max-height: 80vh;
      max-width: 335px;
      min-height: 540px;
      overflow-y: auto;
      top: 10vh;
    }
  }

  &.close {
    height: 50px;
    margin: 0;
    margin-top: 5vw;
    min-height: 50px;
    min-width: 100px;
    width: 100px;


    .form-container {
      height: 0;
      margin: 0;
      opacity: 0;
      overflow: hidden;
      padding: 0;
      width: 0;
    }
  }
}