$inset-color-1: rgb(118, 118, 118);
$inset-color-2: rgb(195, 195, 195);
$inset-color: -internal-light-dark-color($inset-color-1, $inset-color-2);
$btn-color-1: rgba(136, 0, 0, 1);
$btn-color-2: rgba(246, 0, 0, 1);
$contact-form-bg: rgba(0, 0, 0, .9);
$btn-color: #fff;
$btn-gradient: linear-gradient(90deg, $btn-color-1 0%, $btn-color-2 100%);
$contact-form-color-1: rgba(0, 0, 0, 1);
$contact-form-color-2: rgba(60, 0, 255, .5);
$contact-form-bg: radial-gradient(circle, $contact-form-color-1 20%, $contact-form-color-2 100%);
$form-container-bg: #f5f5f5;

@font-face {
  font-family: 'Calisto MT';
  src: url('./fonts/CalistoMT.ttf') format('truetype');
}

.contact-form {
  background: $contact-form-bg;
  border-radius: 10px;
  display: flex;
  font-family: 'Calisto MT';
  height: 70vh;
  justify-content: center;
  left: 0;
  margin: 5vw;
  max-height: 700px;
  max-width: 420px;
  min-height: 500px;
  min-width: 330px;
  overflow: hidden;
  position: fixed;
  top: 14vh;
  z-index: 1;

  @media only screen and (max-width: 768px) {
    max-width: 335px;
    min-height: 600px;
    position: absolute;
  }

  .form-container {
    background-color: $form-container-bg;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    width: 100%;
  }

  form {
    align-self: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h1,
  h2 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    word-wrap: break-word;
  }

  .name {
    display: flex;

    label {
      width: 50%;
    }
  }

  input {
    border-radius: 5px;
    font-family: 'Calisto MT';
    font-size: 1rem;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
  }

  textarea {
    border-color: $inset-color;
    border-radius: 5px;
    border-style: inset;
    border-width: 2px;
    font-family: 'Calisto MT';
    font-size: 1rem;
    height: 200px;
    margin: 5px 0;
    padding: 10px;
    resize: none;
    width: 100%;
  }

  button {
    align-self: center;
    background: $btn-gradient;
    border-radius: 5px;
    color: $btn-color;
    font-family: 'Calisto MT';
    font-size: 1rem;
    font-weight: bold;
    padding: 15px;
    width: 150px;
  }
}
