.logo {
  align-self: center;
  display: flex;
  height: 80%;
  overflow: hidden;

  img {
    max-height: 100%;
    width: auto;
  }

  .logo-text {
    bottom: -9999px;
    left: -9999px;
    margin: auto;
    position: absolute;
    right: -9999px;
    top: -9999px;
  }

  @media only screen and (max-width: 767px) {
    .logo-text {
      display: none;
    }
  }
}
