$cover-bg: rgba(255, 255, 255, .274);

.paralax {
  display: flex;
  flex-direction: column;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;

  div {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    padding: 0;
    position: relative;

    &::before {
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      display: block;
      left: 0;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }

  .first {
    &::before {
      background-image: image-url('paralax/paralax1.jpg');
    }
  }

  .second {
    &::before {
      background-image: image-url('paralax/paralax2.jpg');
    }
  }

  .third {
    &::before {
      background-image: image-url('paralax/paralax3.jpg');
    }
  }

  .fourth {
    &::before {
      background-image: image-url('paralax/paralax4.jpg');
    }
  }

  .fifth {
    &::before {
      background-image: image-url('paralax/paralax5.jpg');
    }
  }
}
