$cover-bg: rgba(255, 255, 255, .274);

.paralax {
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;

  div {
    height: 100vh;
    width: 100%;

    &::before {
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      display: block;
      height: 100vh;
      left: 0;
      margin: 0;
      min-width: 100%;
      padding: 0;
      top: 0;
      z-index: -1;
    }


    @media only screen and (min-width: 767px) {
    }
  }
}
