// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$sub-bg:rgba(255, 255, 255, 0.85);

.container {
  position: absolute;
  top: calc(100vh / 2);
  left: 0;
  height: 100%;
  width: 100%;
}

.sub-container {
  width: 80%;
  height: calc(100vh / 2);
  margin-bottom: calc(100vh / 2);
  background-color: $sub-bg;
  width: 100%;
}
