header {
  height: 210px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .logo {
    position: absolute;
    width: 250px;
    z-index: 1;

    .logo-svg {
      width: 100%;
    }
  }
}
