$quote-c: rgb(122, 100, 40);
$header-c: rgb(16, 46, 143);
$content-c: rgb(79, 99, 189);

.home {
  margin-top: 130px;
  position: relative;

  .first-content {
    display: flex;
    height: var(--app-height);
    justify-content: center;
    position: relative;
  }

  .background {
    height: var(--app-height);
    max-height: var(--app-height);
    position: relative;
    width: 60%;
    z-index: -1;

    .first-img {
      bottom: -9999px;
      left: -9925px;
      margin: auto;
      max-height: 100%;
      position: absolute;
      right: -9999px;
      top: -9875px;
      transform: rotate(-40deg);
      width: 700px;
      z-index: 1;
    }

    .globe-3d {
      bottom: -9955px;
      clip-path: ellipse(155px 170px at center);
      height: 500px;
      left: -9960px;
      margin: auto;
      overflow: hidden;
      position: absolute;
      right: -9999px;
      top: -9875px;
      transform: rotate(23.5deg);
      width: 500px;
      z-index: 0;

      img {
        animation: globe 14s cubic-bezier(.36, .45, .63, .53) infinite;
        bottom: -9999px;
        height: 300px;
        margin: auto;
        position: absolute;
        top: -9990px;
        width: 691px;
        z-index: 1;
      }

      @keyframes globe {
        0% {
          margin-left: -302px;
        }

        100% {
          margin-left: 97px;
        }
      }
    }
  }

  .content {
    color: $content-c;
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: center;
    width: 40%;
  }

  .quote {
    color: $quote-c;
    font-family: Kalam;
    font-size: x-large;
    margin: 0;
    padding: 0;
    padding-left: 40px;
    position: relative;

    &::before {
      border: 1px solid $quote-c;
      content: '';
      left: 0;
      position: absolute;
      top: 15px;
      width: 30px;
    }
  }

  h1 {
    color: $header-c;
    margin: 0;
  }
}
